.btn{
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgb(1, 197, 171);
    text-decoration: none;
    color: white;
    border: none;
    margin: 10px 0;
    outline: none;
    cursor: pointer;
    
}